* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #192a32;
}

.game {
  display: flex;
  gap: 100px;
  margin-top: 50px;
  justify-content: center;
}

/* game-papan */
.papan {
  text-align: center;
  font-size: 30px;
}
.papan-status {
  margin-bottom: 100px;
}
.papan span {
  padding: 10px;
  background-color: #1f3540;
  color: #a8bec9;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 10px #102129;
}
.baris {
  display: flex;
}
.tombol {
  width: 100px;
  height: 100px;
  margin: 10px;
  font-size: 50px;
  background-color: #1f3540;
  color: #31c3be;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 10px #102129;
  cursor: pointer;
  font-weight: bold;
  text-shadow: #31c3be 0px 0px 10px;
}

.tombol.o {
  color: #f2b237;
  text-shadow: #f2b237 0px 0px 10px;
}

.tombol:active {
  box-shadow: 0px 0px;
  transform: translateY(4px);
}

.papan-skor {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-weight: bold;
}

.skor.x {
  color: #31c3be;
}

.skor.o {
  color: #f2b237;
}

/* game-history */
.game-history {
  margin-top: -15px;
}
.game-history ol {
  color: #a8bec9;
  font-size: 30px;
  min-height: 500px;
  max-height: 500px;
  overflow-y: scroll;
  padding-left: 40px;
  padding-right: 30px;

  scrollbar-width: thin;
  scrollbar-color: #a8bec9 #1f3540;
}

.game-history ol li button {
  margin-bottom: 20px;
  font-size: inherit;
  color: inherit;
  background-color: #1f3540;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 10px #102129;
  padding: 10px;
}

.game-history ol li button:active {
  box-shadow: 0px 0px;
  transform: translateY(4px);
}

.game-control {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.game-control button {
  margin-top: 40px;
  padding: 10px;
  border: 0;
  border-radius: 10%;
  box-shadow: 0px 10px #102129;
  font-weight: bold;
  font-size: 30px;
}

.game-control button:active {
  box-shadow: 0px 0px;
  transform: translateY(4px);
}

.game-control .btn-reset {
  background-color: red;
  color: white;
}

.game-control .btn-next {
  background-color: green;
  color: white;
}

.game-mode {
  margin-top: -15px;
  display: flex;
  height: 60px;
  gap: 20px;
}

.game-mode button {
  padding: 10px;
  font-size: 30px;
  border: 0;
  border-radius: 10%;
  background-color: #1f3540;
  box-shadow: 0px 10px #102129;
  font-size: 30px;
  font-weight: bold;
  color: #a8bec9;
}

.game-mode button.active {
  background-color: green;
}

.game-mode button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px;
}